################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HardySoft.UI.BatchImageProcessor/bin/Debug/SeaTurtle.vshost.exe
/HardySoft.UI.BatchImageProcessor.View/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HardySoft.UI.BatchImageProcessor.View/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HardySoft.UI.BatchImageProcessor.View/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HardySoft.UI.BatchImageProcessor.View/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HardySoft.UI.BatchImageProcessor.View/obj/Debug
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug
/HardySoft.UI.BatchImageProcessor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HardySoft.UI.BatchImageProcessor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HardySoft.UI.BatchImageProcessor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HardySoft.UI.BatchImageProcessor/obj/Debug/HardySoft.UI.BatchImageProcessor.csproj.FileListAbsolute.txt
/HardySoft.UI.BatchImageProcessor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HardySoft.UI.BatchImageProcessor/obj/Debug
/HardySoft.UI.BatchImageProcessor/bin/Debug/SeaTurtle.vshost.exe.manifest
/HardySoft.UI.BatchImageProcessor/bin/Debug/SeaTurtle.vshost.exe.config
/.vs/HardySoft.BatchImageProcessor/v14/.suo
