################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HardySoft.BatchImageProcessor
/HardySoft.CC/bin/Debug
/HardySoft.CC/obj/Debug
/packages
/OpenXMLWriter/obj/Debug
/HardySoft.UI.BatchImageProcessor/bin/Debug
/HardySoft.UI.BatchImageProcessor/obj/Debug
/HardySoft.UI.BatchImageProcessor.Model/bin/Debug
/HardySoft.UI.BatchImageProcessor.Model/obj/Debug
/HardySoft.UI.BatchImageProcessor.Presenter/bin/Debug
/HardySoft.UI.BatchImageProcessor.Presenter/obj/Debug
/HardySoft.UI.BatchImageProcessor.View/obj/Debug
/HardySoft.UI.BatchImageProcessor.View/bin/Debug
/HardySoft.UI.BatchImageProcessor/HardySoft.UI.BatchImageProcessor.csproj.user
