################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HardySoft.UI.BatchImageProcessor/bin/Debug/SeaTurtle.vshost.exe
